{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flights {{ flight.id }}</h1>

    <ul>
        <li>origin: {{ flight.origin }}</li>
        <li>destination: {{ flight.destination }}</li>
        <li>duration: {{ flight.duration }}</li>
    </ul>

    <h1>Passengers</h1>

    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}</li>
        {% empty %}
            <li>Empty</li>
        {% endfor %}
    </ul>

    <h2>Add passenger</h2>

    <form action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger">
            {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}"> {{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    <a href="{% url 'index' %}">Back to list</a>

{% endblock %}